@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-form {
    text-align: center;
}

.signup-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00984A; /* Verde Unimed */
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-group label {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group input[type="tel"],
.form-group input[type="date"] {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group select:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="date"]:focus {
    border-color: #00984A; /* Verde Unimed ao focar */
    outline: none;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}

.radio-group label {
    margin-right: 20px;
    font-size: 1rem;
    color: #555;
}

button[type="submit"] {
    background-color: #00984A; /* Verde Unimed */
    color: #fff;
    font-size: 1rem;
    padding: 14px 32px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #006837; /* Verde Unimed mais escuro ao passar o mouse */
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #006400; /* Cor verde escuro */
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00FF00; /* Cor verde brilhante ao passar o mouse */
}

/* Estilização específica para select */
.form-group select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23555" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
    padding-right: 30px;
    cursor: pointer;
}

/* Estilização específica para radio buttons */
.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    user-select: none;
}

.radio-group label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
}

.radio-group input[type="radio"]:checked + label:before {
    background-color: #00984A; /* Verde Unimed */
    border-color: #00984A; /* Verde Unimed */
}
