@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'poppins' , Arial, Helvetica, sans-serif ;
}
body {    
    background: linear-gradient(to right, white 50%, #53a153 50%);
   
}

.img{
    margin-left: 15%;
    margin-top: 10%;
}
.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-left: 37%;
     
}

h1 {
    margin-bottom: 24px;
    font-size: 2rem;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 24px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    background: #fff;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1rem;
    color: #666;
    pointer-events: none;
    transition: all 0.3s ease;
}

input:focus + label,
input:valid + label {
    top: -18px;
    left: 10px;
    font-size: 0.75rem;
    color: #007BFF;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

.google-login {
    margin-top: 20px;
}
.back-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    body {
        flex-direction: column;
        background: linear-gradient(to bottom, white 50%, #53a153 50%);
    }
    .img {
        display: none; /* Esconder a imagem em telas menores */
    }
    .login-container {
        padding: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 0.9rem;
    }

    label {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .back-button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    h1 {
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 0.8rem;
    }

    label {
        font-size: 0.8rem;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .back-button {
        padding: 6px;
    }
}